mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"]{
  visibility: hidden;
}

.imagePreview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}


main {
  width: 80%;
  margin: 1rem auto;
}
