/* main {
  width: 80%;
  margin: 1rem auto;
} */
/* div {
  width: 80%;
  margin: 1rem auto;
} */

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: none;
}

main {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
}
