<mat-toolbar color="accent">
<ul>
    <mat-icon>local_drink</mat-icon>
    <a routerLink="/" class="title"> TechJugg</a>
</ul>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-raised-button routerLink="/create" class="but"> New Post </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-raised-button routerLink="/auth/login" class="but"> Login </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-raised-button routerLink="/auth/signup" class="but"> Sign Up </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-raised-button (click)="onLogout()" class="but"> Logout </button>
    </li>
  </ul>
</mat-toolbar>
